.additional-product-preview {
  padding-bottom: 19px;
}

.additional-product-preview__title {
  margin-bottom: 13px;
}

.additional-product-preview__link {
  text-decoration: none;
  color: #222222;
  font-family: @fontRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-product-preview__params {
  margin-bottom: 15px;
}

.additional-product-preview__param {
  display: flex;
  justify-content: space-between;
}

.additional-product-preview__param-capacity {
  color: #444444;
  text-align: center;
  font-family: @fontSecondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.additional-product-preview__param-cost {
  color: #444444;
  text-align: center;
  font-family: @fontSecondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

// .additional-product-preview__button {

// }
