.catalog-list {
  list-style: none;
  text-decoration: none;
  padding: 0 20px 0 20px;
}


.catalog-list__item {
  border-bottom: 1px solid #ebebeb;
  padding: 20px;
  margin: 0 -20px 0 -20px;
}

.catalog-list__product-preview {
  margin-bottom: 17px;
  // padding: 0 20px 0 20px;
}

.catalog-list__pagination {
  // padding: 25px 20px 25px 20px;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: @tablet-width) {
  .catalog-list {
    padding: 0;
  }

  .catalog-list__item {
    // flex-basis: 50%;
    padding: 0 37px 40px 37px;
    gap: 60px;
    background: linear-gradient(to top,#f2f2f2 82.7%,#fff 30%);
    margin: 0;
    position: relative;
    flex-basis: 45%;
  }

  .catalog-list__product-preview {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 32px;
    // padding: 0 37px 40px;
  }

  .catalog-list__pagination {
    position: relative;
    top: 105px;
  }
}

@media (min-width: @desktop-width) {

}
