.catalog-main-container {
  padding-top: 27px;
}

.catalog-main-container__main-title {
  // padding-bottom: 41px;
  border-bottom: 1px solid #ebebeb;
  padding: 0 100% 41px 100%;
  margin: 0 -100% 0 -100%;
  // padding-left: 20px;
  // margin-left: -20px;
  // margin-right: -20px;
  // padding-right: 20px;

  // &--line-bottom {
  //   border-bottom: 1px solid #ebebeb;
  // }
}

.catalog-main-container__regular-catalog {
  margin-left: -20px;
  margin-right: -20px;
}


@media (min-width: @tablet-width) {
  .catalog-main-container__main-title {
    color: #000000;
    font-family: @fontRegular;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;

    padding: 0;
    margin: 0 0 84px 0;
    // &--line-bottom {
    //   border-bottom: 1px solid #ebebeb;
    // }
  }

  .catalog-main-container__regular-catalog {
    margin-left: 0;
    margin-right: 0;
  }

  .catalog-main-container__main-title--line-bottom {
    border: none;
  }

}

@media (min-width: @desktop-width) {
  .catalog-main-container__additional-catalog {
    // display: grid;
    // align-items: center;
    // grid-template-areas: "title title"
    //                      "catalog gift";
  }


  .catalog-main-container__main-title {
    padding: 0;
    margin: 0;
    margin-bottom: 84px;
    border: none;

  }
}
