.catalog-main-container {
  padding-top: 27px;
}

.catalog-main-container__main-title {
  padding-bottom: 41px;

  // &--line-bottom {
  //   border-bottom: 1px solid #ebebeb;
  // }
}

.catalog-main-container__regular-catalog {
  margin-left: -20px;
  margin-right: -20px;
}
