.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
// .checkbox-group__checkbox {

// }

.checkbox__label {
  color: #444444;
  font-family: @fontRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

// .checkbox {

// }
