.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__link {
  color: #444444;
  font-family: @fontSecondary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

// .copyright__logo {


// }
