.form-main-container {
  padding: 27px 20px 32px 20px;
}

.form-main-container__title {
  .clear-title();
  margin-bottom: 37px;
}

.form-main-container__instruction {
  color: #000000;
  font-family: @fontRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  margin-bottom: 39px;
}

.form-main-container__note-text {
  display: block;
  text-align: center;
  color: #000000;
  font-family: @fontSecondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: @tablet-width) {


}

@media (min-width: @desktop-width) {
  // .form-main-container__button-wrapper {
  //   display: flex;
  // }

}
