.instructions {
  // padding: 0 20px 49px 20px;
}

.instructions__title {
  .clear-title();
  margin-bottom: 40px;
  color: #000000;
  text-align: left;
  font-family: @fontRegular;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.instructions__list {
  .clear-list();
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: section;
}

.instructions__items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.instructions__img {
  min-height: 60px;
  min-width: 60px;
}

.instructions__description {
  font-family: @fontSecondary;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
  // min-width: 200px;
}

@media (min-width: @tablet-width) {
  .instructions__title {
    color: #000000;
    text-align: left;
    font-family: @fontRegular;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }

  .instructions__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 155px;
    justify-content: left;
    // margin-left: -30px;
    // margin-right: -30px;
  }

  .instructions__items {
    width: 243px;
    height: 280px;
    // flex: 0 0 50%;
    // max-width: 50%;
    // padding-left: 30px;
    // padding-right: 30px;
    display: block;
    // min-height: 230px;
    // margin-bottom: 87px;

  }

  .instructions__items::after {
    counter-increment: section;
    content: counter(section) "";
    position: relative;
    left: 119px;
    top: -224px;
    font-size: 280px;
    line-height: 1;
    font-family: "oswald", "Arial", sans-serif;
    color: #f2f2f2;
    z-index: -1;

  }

  .instructions__img {
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 35px;
    width: 80px;
    height: 80px;
  }

  .instructions__description {
    color:#444444;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .instructions__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
    // max-width: 25%;
    // margin-left: -40px;
    // margin-right: -40px;
  }

  .instructions__items {
    // width: 230px;
    // height: 280px;
    // flex: 0 0 25%;
    max-width: 25%;
    // padding-left: 30px;
    // padding-right: 30px;
    display: block;
    // min-height: 230px;
    // margin-bottom: 87px;
  }
}
