.logo-descriptor {
  display: block;
}

.logo-descriptor:hover {
  stroke: #3e3e3e;
  :active {
    stroke: #6b6b6b;
  }
}

.logo-descriptor--line-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .logo-descriptor {
    border: none;
  }
}
