.main-footer {
  background-color: #f2f2f2;
}

// .main-footer__contacts {
//   // padding: 0 20px 0;
// }

.main-footer__contacts--light {
  // padding: 0 20px 0;
  background-color: #ffffff;
}

.main-footer__locations {
  margin-bottom: 40px;
}

.main-footer__logo-descriptor {
  // padding: 0 20px 0 20px;
  margin-bottom: 20px;
  text-align: center;
}

.main-footer__socials {
  // padding: 0 20px 0 20px;
  margin-bottom: 20px;
}

.main-footer__copyright {
  padding: 0 0 40px 0;
}
