// .main-navigation {

// }

.main-navigation__site-navigation--hidden {
  .visually-hidden();
}



.main-navigation__site-navigation {
  // position: absolute;
  // z-index: 1;
  // top: 64px;
  // right: 0;
}

@media (min-width: @tablet-width) {
  .main-navigation__site-navigation--hidden {
    position: initial;
    width: initial;
    height: initial;
    margin: initial;
    border: initial;
    padding: initial;
    white-space: initial;
    clip-path: initial;
    clip: initial;
    overflow: initial;
  }

}

@media (min-width: @desktop-width) {
  .main-navigation__site-navigation--hidden {
    position: initial;
    width: initial;
    height: initial;
    margin: initial;
    border: initial;
    padding: initial;
    white-space: initial;
    clip-path: initial;
    clip: initial;
    overflow: initial;
  }

}
