.offer {
  text-align: center;
  color: #ffffff;
  // padding: 27px 20px 0;
  background-color: #5eaa2f;
  background-image: linear-gradient(to top, #ffffff 182px, transparent 182px), url("../img/banner-mobile.png");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom 175px;
}

.offer__content {
  margin: 0 auto;
  position: relative;
}

.offer__title {
  .clear-title();
  font-family: @fontRegular;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.offer__slogan {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.offer__img {
  position: relative;
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .offer {
    background: none;
    position: relative;
  }

  .offer__title {
    .clear-title();
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    max-width: 520px;
    text-align: left;
    padding-left: 89px;
    margin: 35px 0 41px;
  }

  .offer__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    padding-left: 89px;
    margin-bottom: 50px;
  }

  .offer__img {
    margin: -31px auto 0;
    width: 709px;
    height: 609px;
  }

  .offer__button {
    position: absolute;
    display: inline-block;
  }

}

@media (min-width: @desktop-width) {
  .offer {
    min-height: 553px;
  }

  .offer__title {
    padding-top: 55px;
    padding-left: 80px;
    margin-bottom: 40px;

    color: #000000;
    font-family: @fontRegular;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }

  .offer__slogan {
    margin-top: 0;
    padding-left: 80px;
    margin-bottom: 52px;

    color: #000000;
    font-family: @fontRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  .offer__button {
    top: 286px;
    left: 190px;
  }

  .offer__img {
    position: absolute;
    top: 3px;
    left: 555px;
    z-index: -1;
    width: 552px;
    height: 499px;
  }

}

// .offer__button {

// }
