.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination__img {
  margin-bottom: 23px;
}

.pagination__link {
  color: #111111;
  text-align: center;
  font-family: @fontRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  margin-bottom: 8px;
}

.pagination__promo-caption {
  margin: 0;
  padding: 0;
  color: #444444;
  text-align: center;
  font-family: @fontSecondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .pagination__img {
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
  }

  .pagination__link-description {
    margin-bottom: 23px;
    color: #111111;
    text-align: center;
    font-family: @fontRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }

  .pagination__promo-caption {
    margin-bottom: 82px;

    color: var(--special-dark-grey, #444);
    text-align: center;
    font-family: @fontSecondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .pagination__link {
    margin-bottom: 23px;
  }




}

@media (min-width: @desktop-width) {


}
