.radio-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: @tablet-width) {
  .radio-group {
    gap: 12px;
  }

  .radio-group__radiobutton {
    padding: 10px;
    padding-left: 21px;
  }
}

@media (min-width: @desktop-width) {
  .radio-group {
    gap: 10px;
  }

  .radio-group__radiobutton {
    padding: 10px 0 10px 22px;
  }
}
