.site-navigation {
  display: block;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  top: 65px;
  right: 0;
  text-align: center;
}

// .site-navigation__item {
//   padding: 22px 0 24px 0;
//   border-bottom: 1px solid #e6e6e6;
//     &:first-child {
//       border-top: 1px solid #e6e6e6;
//   }
// }

.site-navigation__link {
  color: #000000;
  font-family: @fontRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
